nav {
    position: absolute;
    margin: 0px;
    

}
nav ul{
margin: 0px;
padding: 0px;
font-family: 'Domine', serif;
font-family: 'Spectral', serif;
color:#E33333;
}
nav ul li {
/* This allow us to arrange list items in a row, without using float */
display: inline-block;
list-style-type: none;
}
#a{
width: 100%;
height: 600px;
background-color: #FEF0F0;
}

/* Create a style for the first level items */
nav > ul > li > a {
color: #E33333;
background-color: transparent;
display: block;
font-size: 20px;
line-height: 2em;
padding: 0.5em 0.5em;
margin-left: 20px;
margin-right: 10px;
text-decoration: none;
}


#ab{
margin-left: 950px;

}
body{

margin: 0%;
overflow-x: hidden;
}
#bp{

width: 110%;
height: 600px;
margin: -30px 0px;
}
#d1{
position: absolute;
left: 35%;
top: 45%;
transform: translate(-50%, -50%);
padding: 10px;
width: 700px;
height: 500px;

}
h1{
font-family: 'Domine', serif;
font-family: 'Spectral', serif;
font-size: 50px;
color: #E33333;

}
#wave{
width: 2000px;
margin-left: 0%;
margin-top: -380px;

}
h2{
font-family: 'Domine', serif;
font-family: 'Spectral', serif;
font-size: 30px;
margin-top: -20px;

}
#bowl{
width: 550px;
height: 350px;
float: right;
margin-top: 100px;
margin-right: 100px;
}
.fontuser {
        position: relative;
    }
      
    .fontuser i{
        position: absolute;
        left: 15px;
        top: 15px;
        color: #E33333;
        width: 30px;
        height: 30px;
    }
    th, td {
border: 1px solid black;
border-collapse: collapse;
border-spacing: 0px;

}
table{

border-collapse: collapse;
margin-top: 10px;
margin: auto;
margin-bottom: 30px;
width: 1000px;
}
th,td{
padding: 20px 40px;
text-align: center;
font-family: 'Domine', serif;
font-family: 'Spectral', serif;
}
th{
font-size: 22px;
}
td{
font-size: 20px;
}
#top3{


font-size: 34px;
font-weight: bold;
font-family: 'Domine', serif;
font-family: 'Spectral', serif;
}
#tabimg{
width: 200px;
height: 150px;
}
h4{
font-size: 22px;
}
.fa-star{
color: #fdc734;

}
#about{
background-color: #f7b8b8;
text-align: center;
margin-bottom: 0px;
padding: 50px;

font-family: 'Domine', serif;
font-family: 'Spectral', serif;
height: auto;
}
#abouttext{
margin-bottom: 0px;
width: 1150px;
margin: auto;
text-align: justify;
font-size: 22px;
}

.cards{
display: flex;
flex-direction: row;
padding: 30px;
width:100%;
height: auto;
margin-top: 30px;
margin-left: 70px;
background-color: #f7b8b8;
}
.card {
/* Add shadows to create the "card" effect */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background-color: #fff;
transition: 0.3s;
padding: 30px;
padding-bottom: 10px;
width:280px;
margin:  auto;
margin-left: 20px;
}
.card1 {
/* Add shadows to create the "card" effect */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background-color: #fff;
transition: 0.3s;
padding: 30px;
padding-bottom: 10px;
width:280px;
margin:  auto;
margin-left: -150px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container1 {
padding: 2px 16px;
background-color: rgb(255, 255, 255);
text-align: cemter;
font-family: 'Domine', serif;
font-family: 'Spectral', serif;


}
ol{
text-align: left;
margin: 10px 0px;
font-size: 18px;
}
.container {
padding: 20px;
font-family: 'Domine', serif;
font-family: 'Spectral', serif;
padding-right: 30px;
text-align: left;
}

#reg{

font-family: 'Domine', serif;
font-family: 'Spectral', serif;
text-align: center;
height: fit-content;
padding-bottom: 20px;
}
/* Full-width input fields */

.container {  
padding: 50px; 
padding-bottom: 30px;
width: 500px; 
background-color: #ffffff;
text-align: left;
margin: auto;
margin-bottom: 30px;

}  
label{
margin-right: 30px;
font-weight: bold;
margin-left: -10px;
}
input[type=text], input[type=password],input[type=email],input[type=tel],input[type=date], textarea {  
width: 100%;  
padding: 15px;  
margin: 10px 0px 32px -10px;  
display: inline-block;  
border: 1px solid #000;
background: #ffffff;  
}  
input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=email]:focus{  
background-color: rgb(255, 255, 255);  
outline: none;  
}  

hr {  
border: 1px solid #f1f1f1;  
margin-bottom: 25px;  
}  

.registerbtn {  
background-color: #da2222;  
color: white;  
padding: 12px 20px;  
margin: 8px 10px;  
border: none;  
cursor: pointer;  
width: 100%;  
opacity: 0.9;  
font-family: 'Domine', serif;
font-family: 'Spectral', serif;
font-size: 18px;
}  
.registerbtn:hover {  
opacity: 1;  
}  
#loc{
border: #FEF0F0;
width: 500px;
height: 35px;
border-radius: 20px;
padding: 5px 20px;
padding-left: 50px;
font-family: 'Domine', serif;
font-family: 'Spectral', serif;
font-size: 20px;
}
#logocanvas{
background-color:#f7b8b8;
padding: 0px;
margin-bottom: 0%;
}
footer{
margin-bottom: 0px;
width: 100%;
background-color: #f7b8b8;
align-items: center;
text-align: center;
}
#locbutton{
background-color: #da2222;  
color: white;  
padding: 12px 20px;  
margin: 8px 0px;  
border: none;  
cursor: pointer;  
width: 30%;  
opacity: 0.9;  
font-family: 'Domine', serif;
font-family: 'Spectral', serif;
font-size: 18px;
}
